<h2>users works!</h2>
<button class="create" routerLink="{{ './create' }}">
    Create User
</button>
<!-- <button mat-button mat-flat-button color="primary" (click)="onCreate()">
    <mat-icon>person_add</mat-icon><span>Add User</span>
</button> -->
<div>
    <ul class="users">
        <li *ngFor="let user of users"
            [class.selected]="user === selectedOneUser">
                <span class="badge">{{ user.id }}</span>
                {{ user.name }}
               
                <button class="button" routerLink="{{ './edit/' + user.id }}">
                    Edit
                </button>
                <button class="button" routerLink="{{ './detail/' + user.id }}">
                    Show
                </button>
                <button class="button" routerLink="{{ './remove/' + user.id }}">
                    Remove
                </button>
        </li>
    </ul>
</div>
<div [ngSwitch]="state">
    <div *ngSwitchCase="states.DETAIL">
        <app-user-detail>
        </app-user-detail>
    </div>
    <div *ngSwitchCase="states.CREATE">
        
    </div>
    <div *ngSwitchCase="states.UPDATE">
        
    </div>
    <div *ngSwitchCase="states.DELETE">
        
    </div>
    <div *ngSwitchDefault> </div>
</div>
<!-- <div *ngIf="state === states.DETAIL">
    <app-user-detail class="users"
            [detail]="selectedOneUser"
            (remove)="handleRemove($event)">
    </app-user-detail>
</div> -->
<router-outlet></router-outlet>