<div *ngIf="detail">
    <h2>{{detail.name | uppercase}} Details</h2>
    <div>
        <label><b>id: </b></label>
        {{detail.id}}
    </div>
    <div>
        <label><b>name: </b></label>
        {{detail.name}}
    </div>
    <div>
        <label><b>surname: </b></label>
        {{detail.surname}}
    </div>
    <div>
        <label><b>age: </b></label>
        {{detail.age}}
    </div>
    <div>
        <label><b>profession: </b></label>
        {{detail.profession}}
    </div>
    <div>
        <label><b>mail: </b></label>
        {{detail.mail}}
    </div>
    <div>
        <label><b>phone: </b></label>
        {{detail.phone}}
    </div>
    <!-- <div class="lblDisplay">
        <button (click)="onRemove(detail.id)">
            Remove
        </button>
         <button (click)="onEdit(detail)">
            Edit
        </button>
    </div> -->
</div>